.post-text-area {
    resize: none;
    font-size: 1.5em;
    border: none;
    border-bottom: 2px rgb(239, 243, 244) solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.post-text-area:focus{
    outline: none;
}
.post-form-container {
    display:flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
}

.post-form-outer-container {
    display: flex;
    flex-direction: row;
    border-bottom: 2px rgb(239, 243, 244) solid;
}

.post-form-avatar {
    margin: .5em;
    margin-right: 0;
    width: 2.2em;
    heighT: 2.2em;
    position: static !important;
}

.post-submit-container {
    display: flex;
}
.post-image-input {
    margin-top: 1.5em;
    height: 1em;
    width: 40%;
    border: none;
}
.post-image-input:focus {
    outline: none;
}
.post-form-button {
    margin: 0 !important;
    margin-top: 1em !important;
    margin-left:auto !important;
    max-width:fit-content; 
    background-color: rgb(29 ,161 ,242) !important;
    font-weight: bold !important;
    text-transform: none !important;
    border-radius:1.5em !important;
    position: static !important;
    height: 2.9em;
}