.profile-container {
    flex: 0.3;
    display:flex;
    flex-direction: column;
}

.profile-header-container {
    height: 2.5em;
    border-bottom: 2px rgb(239, 243, 244) solid;
    display:flex;
    flex-direction: row;
}

.profile-image-container {
    height: 200px;
    background-color: lightblue;
}

.profile-avatar {
    width: 7em !important;
    height: 7em !important;
    margin-top: -4.5em;
}

.back-arrow-icon {
    width: 1.5em !important;
    height: 100% !important;
    color: darkgrey;
}

.back-arrow-icon:hover {
    color: gray;
}
.name-section {
    padding: 1em;
    border-bottom: 2px rgb(239, 243, 244) solid;
}