.login-form-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 20em;
}

.login-form-input {
    padding: 12px 20px;
    margin: 8px 0;
}

.login-form-button {
    min-height: 2.8em !important;
}
.login-button-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}


.login-circular-indicator {
    height: 1em !important;
    width: 1em !important;
}