.sidebar-container {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    font-size: 20px;
    height: 100vh;
    float:left;
    padding-left: 20%;
}

.sidebar-item {
    margin: .5em;
}